@font-face {
    font-family: Inter;
    src: url('../assets/fonts/inter-regular.woff2') format('woff2'),
        url('../assets/fonts/inter-regular.woff') format('woff')
}

@font-face {
    font-family: InterMedium;
    src: url('../assets/fonts/inter-medium.woff2') format('woff2'),
        url('../assets/fonts/inter-medium.woff') format('woff')
}

@font-face {
    font-family: InterSemiBold;
    src: url('../assets/fonts/inter-semibold.woff2') format('woff2'),
        url('../assets/fonts/inter-semibold.woff') format('woff')
}

@font-face {
    font-family: InterBold;
    src: url('../assets/fonts/inter-bold.woff2') format('woff2'),
        url('../assets/fonts/inter-bold.woff') format('woff')
}

// Flag emojis.

@font-face {
    font-family: CountryFlags;
    unicode-range: U+1F1E6-1F1FF;
    src: url('../assets/fonts/country-flags.woff2') format('woff2');
}