/**
 * Colors.
 */

@color-black: black;
@color-darkcontrast: #222222;
@color-white: white;

/**
 * Gradients.
 */


/**
 * Typography.
 */

@font: Inter, 'CountryFlags', sans-serif;
@font-medium: InterMedium, 'CountryFlags', sans-serif;
@font-semibold: InterSemiBold, 'CountryFlags', sans-serif;
@font-bold: InterBold, 'CountryFlags', sans-serif;

/**
 * Breakpoints.
 */

@break-hd: 1921px;
@break-lg: 1200px;
@break-md: 992px;
@break-ms: 768px;
@break-sm: 576px;
@break-xl: 1440px;
@break-xxl: 1600px;
@break-xs: 480px;
@break-xxs: 320px;

/**
 * Custom style properties.
 */

.scroll-custom(@x: hidden, @y: auto) {
    overflow-x: @x;
    overflow-y: @y;

    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--color-border1) transparent;

    /* Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--color-border1);
        border-radius: 4px;

        &:hover {
            background-color: var(--color-border2);
        }
    }
}

.scroll-invisible(@x: hidden, @y: auto) {
    overflow-x: @x;
    overflow-y: @y;

    /* This will work on Firefox */
    scrollbar-width: none;

    /* Targtes on Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
        width: 0;
    }
}

.svg-loading() {
    .animation(spin 1s linear infinite);

    @keyframes spin {
        50% {
            .rotate(180deg);
        }

        100% {
            .rotate(360deg);
        }
    }
}

.text-rich(@color, @lineHeight: 1.4) {
    color: @color;
    line-height: @lineHeight;

    &, * {
        // Text wrap.
        white-space: normal;
        word-wrap: anywhere;
    }

    .bold, b {
        font-family: @font-semibold;
        font-weight: normal;
    }

    .spoiler {
        background-color: var(--color-background3);
        border-radius: var(--app-borderradius);
        color: transparent;
        padding: 0 5px;
        // TODO min height
        .transition(color 0.2s ease-out);

        &:hover {
            background-color: var(--color-background2);
            color: @color;
        }
    }

    .quotation {
        @paddingV: 5px;
        @quoteBarWidth: 4px;

        display: block;
        margin-left: 10px;
        padding: @paddingV 10px @paddingV calc(10px + @quoteBarWidth);
        position: relative;
        // TODO min height

        &::before {
            @width: 4px;

            background-color: var(--color-border2);
            border-radius: calc(@width / 2);
            content: '';
            position: absolute;
            left: 0;
            min-height: calc(100% - @paddingV * 2);
            top: @paddingV;
            width: @width;
        }
    }

    code,
    .code {
        background-color: var(--color-background2);
        border: 1px solid var(--color-border2);
        border-radius: var(--app-borderradius);
        display: inline-block;
        font-family: monospace;
        max-width: 100%;
        // TODO min height
        padding: 5px 8px;
        white-space: break-spaces;

        .bold {
            font-family: monospace;
            font-weight: 600;
        }
    }

    .link {
        color: var(--color-link);
    }

    a {
        color: var(--color-link);
        .transition(color 0.2s ease-out);

        &:hover {
            text-decoration: underline;
        }
    }

    ul,
    ol {
        margin-left: 30px;

        >li {
            &:not(:last-child) {
                margin: 10px 0;
            }
        }
    }

    /*br {
        margin-bottom: 5px;
    }*/
}

.icon-status {
    --size: 16px;

    color: var(--color-icon2);
    height: var(--size);
    width: var(--size);

    >svg {
        display: flex;
    }

    &.danger {
        color: var(--color-warning);
    }

    &.special {
        color: var(--color-accent1);
    }

    &.special2 {
        color: var(--color-voteup);
    }

    &.small {
        --size: 14px;
    }

    &.medium {
        --size: 15px;
    }

    &.big {
        --size: 20px;
    }
}

.reports-count {
    --fontsize: 15px;

    align-items: center;
    display: flex;
    gap: 5px;

    &.small {
        --fontsize: 13px;
    }

    &.medium {
        --fontsize: 14px;
    }

    &.big {
        --fontsize: 18px;
    }

    >.count {
        color: var(--color-warning);
        font-size: var(--fontsize);
        font-family: @font-medium;
    }
}